body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d4f1f4;
    color: #05445e;
}

header {
    background-color: #05445e;
    color: #d4f1f4;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
}

section {
    background-color: #ffffff;
    border-left: 5px solid #189ab4;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(5, 68, 94, 0.1);
}

h2, h3 {
    color: #189ab4;
}

pre {
    background-color: #f0fbfd;
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    color: #05445e;
    font-family: monospace;
}

a {
    color: #05445e;
}

a:hover {
    color: #189ab4;
}

.code-error {
    background-color: #4A3635;
    color: #F5DFDD;
}

s {
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border: 1px solid #189ab4;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(5, 68, 94, 0.1);
}

thead {
    background-color: #189ab4;
    color: #ffffff;
}

thead th {
    padding: 1rem;
    text-align: left;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #f0fbfd;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

td, th {
    padding: 1rem;
    border: 1px solid #d4f1f4;
    text-align: left;
}

caption {
    caption-side: top;
    font-weight: bold;
    font-size: 1.2rem;
    color: #05445e;
    padding: 0.5rem;
    text-align: center;
}